---
import ExperienceItem from "./ExperienceItem.astro";
import type { ExperienceItem as ExperienceItemType } from "@/interfaces/translation";

interface Props {
  experienceItems: ExperienceItemType[];
}

const { experienceItems } = Astro.props;
---

<ol class="relative mt-5">
  {
    experienceItems.map((experienceItem) => (
      <li>
        <ExperienceItem {...experienceItem} />
      </li>
    ))
  }
</ol>
