<html>
  <head>
    <script>
      const browserLang = navigator.language.slice(0, 2);
      const defaultLang = "es";
      const redirectLang = browserLang === "en" ? "en" : defaultLang;

      if (!window.location.pathname.startsWith(`/${redirectLang}/`)) {
        window.location.replace(`/${redirectLang}/`);
      }
    </script>
  </head>
  <body>
    <section class="flex items-center justify-center h-screen bg-gray-300">
      <h1>Redirecting...</h1>
    </section>
  </body>
</html>
