---
const personalImageAlt = "Santiago M";
import { Image } from "astro:assets";
import profilepicImage from "../assets/profile-pic.jpg";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-green-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Desarrollador de Software con nivel de inglés <strong>B2</strong> profesional,
      amplia experiencia en desarrollo para Back End y Front End, con enfoque en
      lenguajes como <strong>Angular, ReactJS, NodeJS</strong> entre otros.
      <p>
        Poseo conocimiento en Bases de datos relacionales y no relacionales,
        experiencia con metodologías ágiles y uso de <strong>GIT</strong>. Estoy
        buscando oportunidades de crecimiento, aumentar mis conocimientos y
        tener la opción de liderar equipos de desarrollo para proyectos
        innovadores.
      </p>
    </p>
  </div>

  <Image
    width="200"
    height="200"
    src={profilepicImage}
    alt={personalImageAlt}
    class="transition-transform duration-300 ease-in-out hover:scale-105order-1 object-cover w-64 h-full p-1 md:order-2 rotate-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
