---
const personalImageAlt = "Santiago M";
import { Image } from "astro:assets";
import profilepicImage from "../assets/profile-pic.jpg";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-green-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Desarrollador de Software con nivel de inglés <strong>B2</strong> profesional,
      con sólida experiencia en
      <strong>Front End y Back End</strong>, especializado en <strong
        >ReactJS, Angular y Node.js</strong
      >. Enfoque en el diseño y desarrollo de aplicaciones escalables, siguiendo
      buenas prácticas y arquitecturas modernas.
    </p>
    <p>
      Poseo conocimiento en <strong>bases de datos relacionales y NoSQL</strong
      >, optimización de rendimiento y desarrollo ágil bajo metodologías <strong
        >Scrum y Kanban</strong
      >. Manejo de <strong>GIT y control de versiones</strong>, asegurando
      flujos de trabajo eficientes y colaborativos.
    </p>
    <p>
      Estoy buscando oportunidades para seguir creciendo profesionalmente,
      asumir retos técnicos desafiantes y tener la opción de <strong
        >liderar equipos de desarrollo</strong
      > en proyectos innovadores.
    </p>
  </div>

  <Image
    width="200"
    height="200"
    src={profilepicImage}
    alt={personalImageAlt}
    class="transition-transform duration-300 ease-in-out hover:scale-105 order-1 object-cover w-64 h-full p-1 md:order-2 rotate-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
