---
const { class: className } = Astro.props;
---

<div
  class={`${className} card relative overflow-hidden grid place-items-center border border-white rounded-xl h-auto
  shadow-[0_0_0.1rem_#fff,0_0_0.1rem_#fff,0_0_0.5rem_#3b82f680,0_0_0.3rem_#3b82f680,inset_0_0_0.5rem_#3b82f680]
  dark:shadow-[0_0_0.1rem_#fff,0_0_0.1rem_#fff,0_0_0.5rem_#49da7e80,0_0_0.3rem_#49da7e80,inset_0_0_0.5rem_#49da7e80]
  `}
>
  <slot />
</div>

<style>
.card {
  transition: transform 0.3s ease-in-out;
}
  .card:hover {
    transform: scale(1.02);
  }
  .card {
    perspective: 800px;
  }
</style>
