---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Febrero 2021 - Actualidad",
    title: "Senior Web UI Developer",
    company: "Globant - Kargo Inc.",
    companyDescription: "Implementación de soluciones digitales de vanguardia",
    description:
      "Desarrollo y soporte de plataformas en Kargo Inc. que facilitan el proceso de advertisement online con tecnologías como AngularJS, Angular 8+, ReactJS y NodeJS.",
  },
  {
    date: "Noviembre 2018 - Febrero 2021",
    title: "Front End Developer",
    company: "Sostereo",
    companyDescription: "Plataforma y servicio de búsqueda de música.",
    description:
      "Desarrollo y soporte del sitio web SoStereo, plataforma construida en AngularJS y Angular 6+ que simplifica la búsqueda de música para diversos usos.",
  },
  {
    date: "Febrero 2018 - Octubre 2018",
    title: "Front End Developer",
    company: "Banlinea",
    companyDescription: "Startup enfocado en la banca digital.",
    description:
      "Construcción de una red social simplificada en Angular 5 para Experian - DataCredito.W",
  },
  {
    date: "Agosto 2017 - Febrero 2018",
    title: "Full Stack Developer",
    company: "ITO Software",
    companyDescription: "Fabrica de software y outsourcing",
    description:
      "Desarrollo y diseño web para una aplicación de inventario y reporte de novedades de la policía nacional.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
