---
const personalImageAlt = "Santiago Murillo";
const linkedInUrl = "https://linkedin.com/in/santiago-murillo";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import SocialPill from "@/components/SocialPill.astro";
import Download from "./icons/Download.astro";
import { Image } from "astro:assets";
import avatarImage from "../assets/avatar.png";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4 items-center">
    <div class="w-24 h-24">
      <Image class="m-auto" src={avatarImage} alt={personalImageAlt} />
    </div>
    <h1 class="text-4xl font-bold tracking-tight text-black dark:text-white">
      Hola!, soy Santiago Murillo
    </h1>
  </div>
  <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
    +8 años de experiencia en desarrollo de software.
    <strong class="font-semibold text-blue-500 dark:text-green-400">
      Ingeniero de Software y Desarrollador Web Full Stack
    </strong>
    Apasionado por la innovacion en experiencia de usuario.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8 justify-center md:justify-start">
    <SocialPill href={linkedInUrl}>
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="/cv-smp.pdf" download="CV - Santiago Murillo.pdf">
      <Download class="size-4" />
      Descargar CV
    </SocialPill>
  </nav>
</div>
