---
import AngularIcon from "./icons/Angular.astro";
import TypescriptIcon from "./icons/Typescript.astro";
import JavascriptIcon from "./icons/Javascript.astro";
import ReactIcon from "./icons/React.astro";
import GitIcon from "./icons/Git.astro";
import CssIcon from "./icons/Css.astro";
import PixelCard from "./PixelCard.astro";
import MysqlIcon from "./icons/MySQL.astro";
import MongoDBIcon from "./icons/MongoDB.astro";
import NodeJSIcon from "./icons/NodeJS.astro";

//TODO: implement this
const TECH_ITEMS = {
  REACT: {
    name: "REACT JS",
    class: "bg-black text-white",
  },
};
---

<div class="flex flex-col gap-y-16">
  <article
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
  >
    <div class="w-full">
      <div class="grid grid-cols-2 lg:grid-cols-5 gap-3">
        <PixelCard
          class="md:col-span-1 lg:col-span-2 md:row-span-2"
          dataColors="#17E6C8,#3317E6">
          <ReactIcon class="w-20 h-20" />
        </PixelCard>
        <PixelCard class="md:col-span-2" dataColors="#A1F711,#41F711">
          <JavascriptIcon class="w-20 h-20" />
        </PixelCard>
        <PixelCard class="md:row-span-2" dataColors="#F73111,#F75911">
          <AngularIcon class="w-20 h-20" />
        </PixelCard>
        <PixelCard class="md:col-span-2" dataColors="#8011F7,#11C9F7">
          <TypescriptIcon class="w-20 h-20" />
        </PixelCard>
      </div>
      <div class="pt-3 grid grid-cols-2 lg:grid-cols-6 gap-2">
        <PixelCard class="col-span-2" dataColors="#8011F7,#11C9F7">
          <NodeJSIcon class="w-20 h-20" />
        </PixelCard>
        <PixelCard dataColors="#8011F7,#11C9F7">
          <GitIcon class="w-24 h-24" />
        </PixelCard>
        <PixelCard dataColors="#8011F7,#11C9F7">
          <MysqlIcon class="w-24 h-24" />
        </PixelCard>
        <PixelCard dataColors="#8011F7,#11C9F7">
          <MongoDBIcon class="w-24 h-24" />
        </PixelCard>
        <PixelCard dataColors="#8011F7,#11C9F7">
          <CssIcon class="w-24 h-24" />
        </PixelCard>
      </div>
    </div>
  </article>
</div>
