---
import AngularIcon from "./icons/Angular.astro";
import TypescriptIcon from "./icons/Typescript.astro";
import JavascriptIcon from "./icons/Javascript.astro";
import ReactIcon from "./icons/React.astro";
import GitIcon from "./icons/Git.astro";
import CssIcon from "./icons/Css.astro";
import Card from "./Card.astro";
import MongoDBIcon from "./icons/MongoDB.astro";
import NodeJSIcon from "./icons/NodeJS.astro";

const techItems = [
  {
    cardClass: "lg:col-span-2 lg:row-span-2",
    icon: ReactIcon,
  },
  {
    cardClass: "lg:row-span-2",
    icon: AngularIcon,
  },
  {
    cardClass: "col-span-2",
    icon: JavascriptIcon,
  },
  {
    cardClass: "col-span-2",
    icon: NodeJSIcon,
  },
  {
    cardClass: "",
    icon: GitIcon,
  },
  {
    cardClass: "lg:col-span-2",
    icon: TypescriptIcon,
  },
  {
    cardClass: "",
    icon: MongoDBIcon,
  },
  {
    cardClass: "",
    icon: CssIcon,
  },
];
---

<div class="flex flex-col gap-y-16">
  <article
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
  >
    <div class="w-full">
      <div class="grid grid-cols-2 lg:grid-cols-5 gap-3">
        {
          techItems.map((item: any) => (
            <Card class={item.cardClass}>
              <div class="w-full py-6">
                <item.icon class="w-20 h-20 m-auto" />
              </div>
            </Card>
          ))
        }
      </div>
    </div>
  </article>
</div>
