---
import SunIcon from "./icons/Sun.astro";
import MoonIcon from "./icons/Moon.astro";
const { class: className } = Astro.props;
---

<div id="theme-toggle-container" class={`${className} appearance-none`}>
  <MoonIcon
    id="dark"
    class="theme-toggle-icon size-5 hover:scale-125 transition-all"
  />
  <SunIcon
    id="light"
    class="theme-toggle-icon size-5 hover:scale-125 transition-all"
  />
</div>
<script is:inline>
  const matchMedia = window.matchMedia("(prefers-color-scheme: dark)");
  const themeToggleBtn = document.getElementById("theme-toggle-container");

  const getTheme = () => localStorage.getItem("theme") || "dark";

  const applyTheme = () => {
    const theme = getTheme();
    const isDark = theme === "dark" || (theme === "dark" && matchMedia.matches);

    document.documentElement.classList.toggle("dark", isDark);
    document.querySelectorAll(".theme-toggle-icon").forEach((el) => {
      el.style.scale = el.id === theme ? "1" : "0";
      if (el.id === theme) {
        el.classList.remove("hidden");
        el.classList.add("visible");
      } else {
        el.classList.remove("visible");
        el.classList.add("hidden");
      }
      el.classList.add(el.id === theme ? "visible" : "hidden");
    });
  };
  themeToggleBtn.addEventListener("click", (e) => {
    const theme = getTheme();
    const isDark = theme === "dark" || (theme === "dark" && matchMedia.matches);
    e.stopPropagation();
    localStorage.setItem("theme", isDark ? "light" : "dark");
    applyTheme();
  });

  matchMedia.addEventListener("change", applyTheme);
  document.addEventListener("astro:after-swap", applyTheme);
  applyTheme();
</script>
